<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>Welcome to My Blog!</h1>

  <ul class="post-list">
    <li>
      <h2 class="post-title"><a class="post-link" href="/posts/post1.html">Blog Post 1</a></h2>
      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </li>
    <li>
      <h2 class="post-title"><a class="post-link" href="/posts/post2.html">Blog Post 2</a></h2>
      <p class="post-description">Vestibulum feugiat ante vel velit rutrum, sed tristique quam mollis.</p>
    </li>
    <li>
      <h2 class="post-title"><a class="post-link" href="/posts/post3.html">Blog Post 3</a></h2>
      <p class="post-description">Etiam dignissim finibus felis, at ultricies turpis.</p>
    </li>
  </ul>
</body>
</html>