<!DOCTYPE html>
<html>
<head>
  <title>IP Camera Firmware Upload</title>
  <link rel="stylesheet" href="uploadscreen.css">
</head>

<body>
  <h2>IP Camera Firmware Upload</h2>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="cameraName">Camera ID:</label>
    <select id="cameraName" name="cameraName" required>
      <option value="" selected disabled>Select a camera name</option>
      <option value="Outdoor 1A">Outdoor 1A</option>
      <option value="Outdoor 1B">Outdoor 1B</option>
      <option value="Outdoor 2">Outdoor 2</option>
      <option value="Indoor Hallway 1">Indoor Hallway 1</option>
      <option value="Indoor Hallway 2">Indoor Hallway 2</option>
    </select><br><br>

    <label for="fileupload">Firmware File:</label>
    <input type="file" id="fileupload" name="fileupload" required><br><br>

    <input type="submit" value="Upload Firmware">
  </form>
</body>
</html>
