{
    "ServerPort" : 8081,
    "LogFile" : "log.log",
    "UploadLimitMB" : 512,
    "UseVirusTotal" : true,
    "UploadVirusTotal" : true,
    "VirusTotalApiKey" : "lol",
    "ScanOutputDir" : "scans/",
    "UploadsDir" : "uploads/",
    "UploadLog" : "uploads.json",
    "WebHookDir" : "webhooks/",
    "UploadWebHooks" : { 
        "Flask" : {
            "URL" : "http://localhost:5000",
            "Method" : "POST",
            "Headers" : {
                "api-key": "api-key",
                "user-agent": "basicgopot",
                "accept": "*/*"
            },
            "Forms" : {
                "test" : "test field",
                "file" : "$FILE"
            }
        }  
    }
}