{
    "ServerPort" : 8080,
    "LogFile" : "logs/log.log",
    "UploadLimitMB" : 512,
    "UseVirusTotal" : true,
    "UploadVirusTotal" : true,
    "VirusTotalApiKey" : "lol",
    "ScanOutputDir" : "logs/scans/",
    "UploadsDir" : "uploads/",
    "UploadLog" : "logs/uploads.json",
    "WebHookDir" : "logs/webhooks/",
    "UploadWebHooks" : {}
}