{
    "ServerPort" : 8080,
    "UploadLimitMB" : 512,
    "UseVirusTotal" : true,
    "UploadVirusTotal" : true,
    "VirusTotalApiKey" : "lol",
    "ScanOutputDir" : "scans/",
    "UploadsDir" : "uploads/",
    "UploadLog" : "uploads.json"
}