<!DOCTYPE html>
<html>
<head>
  <title>Blog Post 3</title>
  
  <link rel="stylesheet" href="post.css">
</head>
<body>
  <h1>Blog Post 3</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat ante vel velit rutrum, sed tristique quam mollis. Sed congue, neque in suscipit posuere, ex arcu finibus mauris, at varius leo justo id ante.</p>

  <p>Etiam dignissim finibus felis, at ultricies turpis. Curabitur bibendum orci ut lacus eleifend tincidunt. Nulla facilisi. Donec cursus congue elit, id dapibus nunc ultrices ac. Sed luctus luctus elit, nec auctor ligula venenatis in. Nullam condimentum ante non nunc dictum, vel posuere risus ultrices. Duis blandit mauris at elementum finibus. Ut eu elit ac justo ultricies lobortis a sed ligula.</p>

  <p>Donec vel orci et mauris commodo laoreet. Aenean auctor, purus sed congue efficitur, enim felis tempus ante, sed euismod nisi velit ut justo. Vivamus nec eleifend est. Nam fringilla sapien id risus eleifend, vel consequat nisl feugiat. Fusce consequat cursus feugiat. Sed quis leo dapibus, commodo lorem vitae, tincidunt ante. Mauris in ex eget tellus gravida pulvinar.</p>

  <p class="author">Written by Me :)</p>
</body>
</html>